
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateSubmit</title>
</head>
<body>
    <div> Created successfully.
    </div>
</body>
</html>
