@model ProductWebApp.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAllProducts2</title>
</head>
<body>

    <h2>rendering from partial..</h2>
    @Html.Partial("PartialProductDetails", (ProductWebApp.Models.Product)ViewBag.Prod1)
   
    <h4> product 2 display</h4>
    @{ 
        Html.RenderPartial("PartialProductDetails", (ProductWebApp.Models.Product)ViewBag.Prod2);
     }
</body>
</html>
