
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/bundles/jquery")
    @*<script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/jquery-3.4.1.js"></script>
        <script src="~/Scripts/jquery-3.4.1.slim.js"></script>*@
    <script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
    <title>GetAllInfo</title>
</head>
<body>
    <div> 
        <h3> GetAll Students information...etc.</h3>
        <table>
            <tr>
                <td>id</td>
                <td>name</td>
                <td>sal</td>
            </tr>
        </table>
    </div>
</body>
</html>
