
@{
    ViewBag.Title = "Index";
}
@section FooterTime{


    <h3> this is time from index page to master page.</h3>

}

<h2>Index</h2>

This is common place of index page

<h4>....asdfsafdasd index h4 tag.</h4>

